<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotstrip.linux.monitor.admin.mapper.ServerMapper">
    <resultMap id="BaseResultMap" type="com.hotstrip.linux.monitor.admin.entity.ServerDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="host" jdbcType="VARCHAR" property="host"/>
        <result column="user" jdbcType="VARCHAR" property="user"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="port" jdbcType="INTEGER" property="port"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, host, user, password, port,
        create_time, update_time
    </sql>

    <insert id="insert" parameterType="com.hotstrip.linux.monitor.admin.entity.ServerDO">
        insert into server
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="host != null">
                host,
            </if>
            <if test="user != null">
                user,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="port != null">
                port,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=INTEGER},
            <if test="host != null">
                #{host, jdbcType=VARCHAR},
            </if>
            <if test="user != null">
                #{user, jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password, jdbcType=VARCHAR},
            </if>
            <if test="port != null">
                #{port, jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime, jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.hotstrip.linux.monitor.admin.entity.ServerDO">
        update server
        <set>
            <if test="host != null">
                host = #{host, jdbcType=VARCHAR},
            </if>
            <if test="user != null">
                user = #{user, jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password, jdbcType=VARCHAR},
            </if>
            <if test="port != null">
                port = #{port, jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime, jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id, jdbcType=INTEGER}
    </update>

    <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from server
        where id = #{id, jdbcType=INTEGER}
    </select>
</mapper>