<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotstrip.linux.monitor.admin.mapper.ServerMapper">
    <resultMap id="BaseResultMap" type="com.hotstrip.linux.monitor.admin.entity.ServerDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="host" jdbcType="VARCHAR" property="host"/>
        <result column="user" jdbcType="VARCHAR" property="user"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="port" jdbcType="INTEGER" property="port"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, host, user, password, port,
        create_time, update_time
    </sql>

    <insert id="insert" parameterType="com.hotstrip.linux.monitor.admin.entity.ServerDO">
        insert into server
        (id, host, user, password, port, create_time, update_time)
        values
        (#{id, jdbcType=INTEGER}, #{host, jdbcType=VARCHAR}, #{user, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR},
        #{port, jdbcType=INTEGER}, #{createTime, jdbcType=TIMESTAMP}, #{updateTime, jdbcType=TIMESTAMP})
    </insert>

    <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from server
        where id = #{id, jdbcType=INTEGER}
    </select>
</mapper>